@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Style.css">
    <link type="text/css" href="~/Content/datatables.css" rel="stylesheet" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/templatemo-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50" class="pre-scrollable">

    <div class="container">

        <!-- PRE LOADER -->
        <section class="preloader">
            <div class="spinner">

                <span class="spinner-rotate"></span>

            </div>
        </section>


        <!-- MENU -->
        <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>
                    <img id="ucrImage" src="https://inil.ucr.ac.cr/wp-content/uploads/2016/12/logo-ucr.png" style="border: 0; float: left; margin-right: 15px" width="80" height="35"/>
                    <!-- lOGO TEXT HERE -->


                </div>

                <!-- MENU LINKS -->
                <div id="navBar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                        <li class="smoothScroll">  </li>

                        <button type="button" id="btnLog" class="btn" onclick="clearTextBoxStudent();">Register</button>

                        <button type="button" id="btnSignLog" data-toggle="modal" data-target="#myModalSignLog" onclick="clearTextBoxSignLog();" class="btn">Log in</button>

                        <button type="button" id="btnProfessor" onclick="clearTextBoxProfessor();" class="btn">Register professor</button>

                        <button type="button" id="btnCourse" onclick="clearTextBoxCourse();" class="btn">Register course</button>

                        <button type="button" id="btnEnrollCourse" data-toggle="modal" data-target="#myModalEnrollCourse" class="btn" onclick="enrollCourse();">Sign up for course</button>

                        <button type="button" id="btnEnrollCourseProfessor" data-toggle="modal" data-target="#myModalEnrollCourseProfessor" class="btn">Enroll teacher to course</button>

                        <button type="button" id="btnNews" data-toggle="modal" data-target="#modalNews" class="btn" onclick="clearTextBoxNews();">Add news</button>

                        <button type="button" id="btnStudentCourses" class="btn" onclick="studentCourses();">Courses</button>

                        <button type="button" id="btnProfessorCourses" class="btn" onclick="professorCourses();">Courses</button>

                        <button type="button" id="btnNewsStudent" class="btn" onclick="newsStudent();">News</button>

                        <button type="button" id="btnNewsProfessor" class="btn" onclick="newsProfessor();">News</button>

                        <button type="button" id="btnReturnStudent" class="btn" onclick="returnStudent();">Back to profile</button>

                        <button type="button" id="btnReturnProfessor" class="btn" onclick="returnProfessor();">Back to profile</button>

                        <button type="button" id="btnLogOut" class="btn" onclick="logOut();">Sign off</button>

                    </ul>
                </div>

            </div>
        </section>

        <!---Sign up log in-->

        <div class="modal fade" id="myModalSignLog" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 id="HeaderTitleAdd" class="modal-title"> Sing in </h4>

                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label for="UsernameSignLog"> User </label>
                                <input type="text" class="form-control" id="UsernameSignLog" placeholder="Enter your username" autocomplete="off">

                            </div>

                            <div class="form-group">
                                <label for="PasswordSignLog">Password</label>
                                <input type="password" class="form-control" id="PasswordSignLog" placeholder="Enter your password" autocomplete="off">
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <label id="invalidUser" hidden="hidden"></label>
                        <button type="button" class="btn" onclick="login();" id="btnAdd">Sing in</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Insert Update News-->
        <div class="modal fade" id="modalNews" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 id="addNewsTitle" class="modal-title"> Insert news </h4>
                        <h4 id="UpdateNewsTitle" class="modal-title"> Update news </h4>

                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group" hidden>
                                <label>ID</label>
                                <input type="text" class="form-control" id="NewsId">
                            </div>

                            <div class="form-group">
                                <label>User ID</label>
                                <input type="text" class="form-control" id="AuthorId" disabled>
                            </div>

                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" id="NewsTitle" placeholder="News Title" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label>Author</label>
                                <input type="text" class="form-control" id="Author" placeholder="News author" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label>Publication date</label>
                                <input type="date" class="form-control" id="Date">
                            </div>

                            <div class="form-group">
                                <label>News</label>
                                <textarea rows="6" cols="50" class="form-control" id="text" placeholder="Enter your news" autocomplete="off"></textarea>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn" onclick="addNews();" id="btnAddNews">Insert</button>
                        <button type="button" class="btn" onclick="updateNews();" id="btnUpdateNews">Update</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- View News-->
        <div class="modal fade" id="modalViewNews" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 id="addNewsTitle" class="modal-title"> News details </h4>

                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group" hidden>
                                <label id="idDetails"></label>
                            </div>

                            <div class="form-group">
                                <label>Title:</label>
                                <label id="titleDetails">Title</label>
                            </div>

                            <div class="form-group">
                                <label>Author:</label>
                                <label id="authorDetails"></label>
                            </div>

                            <div class="form-group">
                                <label>Publication date :</label>
                                <label id="datetimeDetails"></label>
                            </div>

                            <div class="form-group">
                                <label>News:</label>
                                <label id="newsDetails"></label>
                            </div>

                            <div class="form-group">
                                <label>Comments:</label>
                                <ul id="ulComments" class="list-group"></ul>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="addComment" placeholder="Comment" autocomplete="off">
                                </br>
                                <button type="button" class="btn" onclick="addComments();" id="btnAddComment">Add</button>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!---Student Register and Update-->

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 id="HeaderTitleAddStudent" class="modal-title"> Register student </h4>
                        <h4 id="HeaderTitleUpdateStudent" class="modal-title"> Update student </h4>

                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form>

                                    <div class="form-group" hidden="hidden" id="DivStudentId">
                                        <label for="StudentId">ID</label>
                                        <input type="text" class="form-control" id="StudentId" disabled="disabled">
                                    </div>

                                    <div class="form-group">
                                        <label for="StudentCard">Carnet</label>
                                        <input type="text" class="form-control" id="StudentCard" placeholder="Carnet" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="Name">Name</label>
                                        <input type="text" class="form-control" id="Name" placeholder="Name" autocomplete="off">
                                    </div>


                                    <div class="form-group">
                                        <label for="Last Name">Last Name</label>
                                        <input type="text" class="form-control" id="LastName" placeholder="Last Name" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="Birth date">Birthday</label>
                                        <input type="date" class="form-control" id="Birthday" placeholder="Birth date">
                                    </div>

                                    <div class="form-group">
                                        <label for="Mail">Email</label>
                                        <input type="text" class="form-control" id="Mail" placeholder="Email" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="Image">Photo</label>
                                        <input type="file" class="form-control" id="Image" placeholder="Photo">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form>
                                    <div class="form-group">
                                        <label for="Username">User name</label>
                                        <input type="text" class="form-control" id="Username" placeholder="Username" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="Password">Password</label>
                                        <input type="password" class="form-control" id="Password" placeholder="Password" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="Province">Province</label>
                                        <select class="form-control" id="ProvinceDropdown" name="ProvinceDropdown"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="Canton">Canton</label>
                                        <select class="form-control" id="CantonDropdown" name="CantonDropdown"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="District">District</label>
                                        <select class="form-control" id="DistrictDropdown" name="DistrictDropdown"></select>
                                    </div>

                                    <div class="form-group" hidden="hidden" id="DivStatusStudentDropdown">
                                        <label for="StatusStudentDropdown">Condition</label>
                                        <select class="form-control" id="StatusStudentDropdown">
                                            <option value="0">Inactive</option>
                                            <option value="1">Active</option>
                                        </select>
                                    </div>

                                    <br />

                                    <div class="form-group" hidden="hidden" id="DivStudentCheckbox">
                                        <label>Administrator</label>
                                        <label class="switch">
                                            <input type="checkbox" id="StudentCheckbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn" id="btnAddStudent" onclick="return Add();">Register</button>
                        <button type="button" class="btn" id="btnUpdateStudent" style="display:none" onclick="EditStudent();">Update</button>
                        <button type="button" class="btn" id="btnUpdateProfileStudent" style="display:none" onclick="editProfileStudent();">Update</button>
                        <button type="button" class="btn" id="btnDeleteStudent" onclick="deleteStudentAccount();">Delete profile</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>

        <!---Professor Register and Update-->

        <div class="modal fade" id="myModalProfessor" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 id="TitleAddProfessor" class="modal-title"> Register professor </h4>
                        <h4 id="TitleUpdateProfessor" class="modal-title" hidden="hidden"> Update </h4>

                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form>

                                    <div class="form-group">
                                        <label for="ProfessorId">Identifier</label>
                                        <input type="text" class="form-control" id="ProfessorId" disabled="disabled">
                                    </div>

                                    <div class="form-group">
                                        <label for="ProfessorUsername">Username</label>
                                        <input type="text" class="form-control" id="ProfessorUsername" placeholder="Username" autocomplete="off">

                                    </div>

                                    <div class="form-group">
                                        <label for="ProfessorPassword">Password</label>
                                        <input type="password" class="form-control" id="ProfessorPassword" placeholder="Password" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="ProfessorName">Name</label>
                                        <input type="text" class="form-control" id="ProfessorName" placeholder="Name" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="ProfessorLastName">Last Name</label>
                                        <input type="text" class="form-control" id="ProfessorLastName" placeholder="Last Name" autocomplete="off">
                                    </div>

                                    <div class="form-group">
                                        <label for="ProfessorMail">Email</label>
                                        <input type="text" class="form-control" id="ProfessorMail" placeholder="Email" autocomplete="off">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form>

                                    <div class="form-group">
                                        <label for="AcademicDegree">Academic Degree</label>
                                        <select class="form-control" id="AcademicDegreeDropdown" name="AcademicDegreeDropdown"></select>
                                    </div>


                                    <div class="form-group">
                                        <label for="Province">Province</label>
                                        <select class="form-control" id="ProfessorProvinceDropdown" name="ProvinceDropdown"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="Canton">Canton</label>
                                        <select class="form-control" id="ProfessorCantonDropdown" name="CantonDropdown"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="District">District</label>
                                        <select class="form-control" id="ProfessorDistrictDropdown" name="DistrictDropdown"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="StatusProfessorDropdown">Condition</label>
                                        <select class="form-control" id="StatusProfessorDropdown" disabled="disabled">
                                            <option value="0">Inactive</option>
                                            <option value="1">Active</option>
                                        </select>
                                    </div>

                                    <br />

                                    <div class="form-group">
                                        <label>Administrator</label>
                                        <label class="switch">
                                            <input type="checkbox" disabled="disabled" id="ProfessorCheckbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn" id="btnAddProfessor" onclick="return AddProfessor();">Register</button>
                        <button type="button" class="btn" id="btnUpdateProfessor" onclick="EditProfessor();">Update</button>
                        <button type="button" class="btn" id="btnDeleteProfessor" onclick="deleteProfessorAccount();">Delete profile</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>

        <!------Update Image Student-->
        <div class="modal fade" id="modalUpdateImageStudent" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title">Update photo</h4>

                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group" hidden>
                                <label>ID</label>
                                <input type="text" class="form-control" id="idStudent" disabled="disabled">
                            </div>

                            <div class="form-group">
                                <label>Photo</label>
                                <input type="file" class="form-control" id="imgStudent">
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn" id="btnUpdateImageStudent" onclick="updateImageStudent();">Update</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!------Update Image Professor-->
        <div class="modal fade" id="modalUpdateImageProfessor" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title">Update photo</h4>

                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group" hidden>
                                <label>ID</label>
                                <input type="text" class="form-control" id="idProfessor" disabled="disabled">
                            </div>

                            <div class="form-group">
                                <label>Photo</label>
                                <input type="file" class="form-control" id="imgProfessor">
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn" id="btnUpdateImageProfessor" onclick="updateImageProfessor();">Update</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Course Register---->
        <div class="modal fade" id="myModalCourse" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 id="TitleAddCourse" class="modal-title"> New course registration </h4>
                        <h4 id="TitleUpdateCourse" class="modal-title"> Update course </h4>

                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="form-group">
                                <label for="CourseId">ID</label>
                                <input type="text" class="form-control" id="CourseId" disabled="disabled">
                            </div>

                            <div class="form-group">
                                <label for="CourseInitials">Acronym</label>
                                <input type="text" class="form-control" id="CourseInitials" placeholder="Enter the acronym of the course" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label for="CourseName">Name</label>
                                <input type="text" class="form-control" id="CourseName" placeholder="Enter the name of the course" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label for="IsCourseActive">Course status</label>
                                <select class="form-control" id="IsActiveDropdown" name="IsActiveDropdown">
                                    <option value="0">Inactive</option>
                                    <option value="1">Active</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="CourseCredits">Credits</label>
                                <input type="text" class="form-control" id="CourseCredits" placeholder="Enter course credits" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label for="CourseCycle">Cycle</label>
                                <select class="form-control" id="CycleDropdown" name="CycleDropdown">
                                    <option value="1">I Semester</option>
                                    <option value="2">II Semester</option>
                                    <option value="3">Summer</option>
                                </select>
                            </div>

                        </form>

                        <div class="modal-footer">
                            <button type="button" class="btn" onclick="addCourse();" id="btnAddCourse">Register course</button>
                            <button type="button" class="btn" onclick="editCourse();" id="btnEditCourse">Update</button>
                            <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- HOME -->
        <section id="home">
            <div class="row">

                <div class="owl-carousel owl-theme home-slider">
                    <div class="item item-first">
                        <div class="caption">
                            <div class="container">
                                <div class="col-md-6 col-sm-12">
                                    <h1>Paraíso campus</h1>
                                    <h3>The Paraíso Campus was created in order to generate spaces for training and academic enrichment, in favor of the development of the community.</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item item-second">
                        <div class="caption">
                            <div class="container">
                                <div class="col-md-6 col-sm-12">
                                    <h1>Accreditation process</h1>
                                    <h3>The Baccalaureate in Business Informatics is the first exclusive career of all the regional headquarters of the University of Costa Rica that completes the self-evaluation process and the SINAES accredits it.</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item item-third">
                        <div class="caption">
                            <div class="container">
                                <div class="col-md-6 col-sm-12">
                                    <h1>Installations</h1>
                                    <h3>The Campus has areas for the development of lessons, outdoor activities and ample parking for vehicles.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!------News Section-->
        <section id="newsSection" hidden>
            <div class="row">
                <h2>News</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="tableNews">

                        <thead>
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Author
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tableNews">
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <!------Student Courses-->
        <section id="StudentCoursesSection" hidden>
            <div class="table-responsive">
                <h3>Enrolled courses</h3>
                <table class="table table-bordered table-hover" id="tableStudentCourses">

                    <thead>
                        <tr>
                            <th>
                                Acronym
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Credits
                            </th>
                            <th>
                                Cycle
                            </th>
                            <th>
                                Professor
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tableStudentCourses">
                    </tbody>
                </table>
            </div>

        </section>

        <!----Enroll Course --->
        <div class="modal fade" id="myModalEnrollCourse" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title">Sign up for course </h4>

                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label for="courseList">Courses</label>
                                <div class="form-group">
                                    <select class="form-control" id="courseListDropdown" name="courseListDropdown"></select>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="professorList">Professor</label>
                                <div class="form-group">
                                    <select class="form-control" id="professorListDropdown" name="professorListDropdown"></select>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn" onclick="enrollNewCourse();" id="btnEnrollNewCourse">Add</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>

        <!----Enroll Course Professor--->
        <div class="modal fade" id="myModalEnrollCourseProfessor" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title">Enroll teacher to course</h4>

                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label for="courseList">Courses</label>
                                <div class="form-group">
                                    <select class="form-control" id="courseDropdown"></select>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="professorList">Professor</label>
                                <div class="form-group">
                                    <select class="form-control" id="professorDropdown"></select>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn" onclick="enrollNewCourseProfessor();" id="btnEnrollNewCourseProfessor">Add</button>
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!------Professor Courses-->
        <section id="ProfessorCoursesSection" hidden>
            <h4>Courses taught</h4>
            <table class="table table-bordered table-hover" id="professorCourses">

                <thead>
                    <tr>
                        <th>
                            Acronym
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Cycle
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody class="professorCourses">
                </tbody>
            </table>
        </section>

        <!------Student Section-->

        <section id="studentSection">
            <div class="row pre-scrollable">
                <h2 id="StudentWelcomeMessage"></h2> <hr />
                <img src="" id="imgProfile" width="150" height="150" title="Editar" onclick="getImageStudent();" />
                <button type="button" id="btnSocialNetworkStudent" data-toggle="modal" data-target="#myModalSocialNetworkStudent" class="btn">Social Networks Settings</button>
                <button type="button" data-toggle="modal" data-target="#myModal" class="btn" id="btngetProfileStudent" onclick="getProfileStudent();">Edit profile</button>

                <!---Social Networks-->

                <div class="modal fade" id="myModalSocialNetworkStudent" tabindex="-1" role="dialog" hidden>

                    <div class="modal-dialog">

                        <div class="modal-content">

                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal">X</button>
                                <h4 class="modal-title">Social Networks</h4>

                            </div>
                            <div class="modal-body">

                                <form>
                                    <div class="form-group">
                                        <label for="socialNetworkList">Social Networks</label>
                                        <div class="form-group">
                                            <select class="form-control" id="SocialNetworkStudentDropdown" name="SocialNetworkDropdown"></select>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label for="studentSocialNetwork">Social network</label>
                                        <input type="text" class="form-control" id="studentSocialNetwork" placeholder="Example: https://www.facebook.com/UniversidadCostaRica" autocomplete="off">
                                    </div>

                                </form>
                            </div>

                            <div class="modal-footer">

                                <button type="button" class="btn" id="btnAddSocialNetworkStudent" onclick="addSocialNetworkStudent();">Add</button>
                                <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!------Student Information-->

                <div class="col-md-6">
                    <h3>Personal information</h3> <hr />
                    <form>
                        <div class="form-group" hidden="hidden">
                            <label id="labelStudentId"></label>
                        </div>

                        <div class="form-group">
                            <label for="StudentCard">Carnet:</label>
                            <label id="labelStudentCard"></label>
                        </div>

                        <div class="form-group">
                            <label for="Username">Username :</label>
                            <label id="labelStudentUserName"></label>
                        </div>


                        <div class="form-group">
                            <label for="Name">Name:</label>
                            <label id="labelStudentName"></label>
                        </div>

                        <div class="form-group">
                            <label for="Birthday">Birth date:</label>
                            <label id="labelStudentBirthday"></label>
                        </div>

                        <div class="form-group">
                            <label for="Mail">Email:</label>
                            <label id="labelStudentMail"></label>
                        </div>

                        <h3>Ubication</h3> <hr />

                        <div class="form-group">
                            <label for="Province">Province:</label>
                            <label id="labelStudentProvince"></label>
                        </div>

                        <div class="form-group">
                            <label for="Canton">Canton:</label>
                            <label id="labelStudentCanton"></label>
                        </div>

                        <div class="form-group">
                            <label for="District">District:</label>
                            <label id="labelStudentDistrict"></label>
                        </div>

                        <h3>Social Networks</h3> <hr />
                        <ul id="ulSocialNetworksStudent" class="list-group">
                        </ul>
                    </form>
                </div>

            </div>
        </section>

        <!------Professor Section-->

        <section id="professorSection">
            <div class="row pre-scrollable">
                <h2 id="ProfessorWelcomeMessage"></h2> <hr />
                <img src="" id="imgProfileProfessor" width="150" height="150" title="Editar" onclick="getImageProfessor();" />
                <button type="button" id="btnSocialNetworkProfessor" data-toggle="modal" data-target="#myModalSocialNetworkProfessor" class="btn">Social Networks Settings</button>
                <button type="button" id="btngetProfileProfessor" data-toggle="modal" data-target="#myModalProfessor" class="btn" onclick="getProfileProfessor();">Edit profile</button>

                <!---Social Networks-->

                <div class="modal fade" id="myModalSocialNetworkProfessor" tabindex="-1" role="dialog" hidden>

                    <div class="modal-dialog">

                        <div class="modal-content">

                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal">X</button>
                                <h4 class="modal-title">Social Networks</h4>

                            </div>
                            <div class="modal-body">

                                <form>
                                    <div class="form-group">
                                        <label for="socialNetworkList">Social Networks</label>
                                        <div class="form-group">
                                            <select class="form-control" id="SocialNetworkProfessorDropdown" name="SocialNetworkDropdown"></select>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label for="professorSocialNetwork">Social Network</label>
                                        <input type="text" class="form-control" id="professorSocialNetwork" placeholder="Example: https://www.facebook.com/UniversidadCostaRica" autocomplete="off">
                                    </div>


                                </form>
                            </div>

                            <div class="modal-footer">

                                <button type="button" class="btn" id="btnAddSocialNetworkProfessor" onclick="addSocialNetworkProfessor();" id="btnAdd">Add</button>
                                <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!------Professor Information-->

                <div class="col-md-6">
                    <h3>Personal information</h3> <hr />
                    <form>
                        <div class="form-group" hidden="hidden">
                            <label id="labelProfessorId"></label>
                        </div>

                        <div class="form-group">
                            <label>Username:</label>
                            <label id="labelProfessorUserName"></label>
                        </div>

                        <div class="form-group">
                            <label>Name:</label>
                            <label id="labelProfessorName"></label>
                        </div>


                        <div class="form-group">
                            <label>Email:</label>
                            <label id="labelProfessorMail"></label>
                        </div>

                        <div class="form-group">
                            <label>Academic Degree:</label>
                            <label id="labelProfessorAcademicDegree"></label>
                        </div>

                        <h3>Ubication</h3> <hr />

                        <div class="form-group">
                            <label for="Province">Province:</label>
                            <label id="labelProfessorProvince"></label>
                        </div>

                        <div class="form-group">
                            <label for="Canton">Canton:</label>
                            <label id="labelProfessorCanton"></label>
                        </div>

                        <div class="form-group">
                            <label for="District">District:</label>
                            <label id="labelProfessorDistrict"></label>
                        </div>

                        <h3>Social Networks</h3> <hr />
                        <ul id="ulSocialNetworksProfessor" class="list-group">
                        </ul>
                    </form>
                </div>
            </div>
        </section>

        <!------Administrator Section-->

        <section id="administratorSection" hidden="hidden">
            <h3>Administrator</h3>
            <div class="row pre-scrollable">
                <!---ADMINISTRATOR/STUDENT APPROVAL-->
                <div class="table-responsive">
                    <h3>Waiting students</h3>
                    <table class="table table-bordered table-hover" id="tableApproval">

                        <thead>
                            <tr>
                                <th>
                                    Carnet
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tableApproval">
                        </tbody>
                    </table>
                </div>

                <!---ADMINISTRATOR/LIST PROFESSOR-->
                <div class="table-responsive">
                    <h3>Registered Teachers</h3>
                    <table class="table table-bordered table-hover" id="tableProfesor">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tableProfesor" id="tableProfesor">
                        </tbody>
                    </table>
                </div>

                <!---Courses registered-->
                <div class="table-responsive">
                    <h3>Registered courses</h3>
                    <table class="table table-bordered table-hover table-striped" id="tableCourseRegister">

                        <thead>
                            <tr>
                                <th>
                                    Acronym
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Credits
                                </th>
                                <th>
                                    Cycle
                                </th>
                                <th>
                                    Condition
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tableCourseRegister" id="tableCourseRegister">
                        </tbody>
                    </table>
                </div>

                <!---ALL STUDENTS-->
                <div class="table-responsive">
                    <h3>Registered students</h3>
                    <table class="table table-bordered table-hover" id="tableStudents">

                        <thead>
                            <tr>
                                <th>
                                    Carnet
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tableStudents">
                        </tbody>
                    </table>
                </div>

                <!---NEWS-->
                <h2>News</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="tableNewsAdministrator">

                        <thead>
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Author
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tableNewsAdministrator">
                        </tbody>
                    </table>
                </div>

                <!---COMMENTS-->
                <div class="table-responsive">
                    <h3>Comments</h3>
                    <table class="table table-bordered table-hover" id="tableComments">
                        <thead>
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Comment
                                </th>
                                <th>
                                    Author
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tableComments">
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <!---Public Consultation-->

        <div class="modal fade" id="modalPublicConsultationStudent" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 id="titlePublicConsultation" class="modal-title" hidden>Public consultation</h4>

                    </div>
                    <div class="modal-body">
                        <input type="text" id="courseIdPublicConsultation" hidden>
                        <input type="text" id="professorIdPublicConsultation" hidden>
                        <input type="text" id="studentIdPublicConsultation" hidden>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="addPublicConsult" placeholder="Consult" autocomplete="off">
                                    </br>
                                    <button type="button" class="btn" onclick="sendPublicConsultationStudent();" id="btnConsultationPublicStudent">Send</button>
                                </div>

                                <form>
                                    <div class="form-group">
                                        <ul id="ulConsultationspublic" class="list-group"></ul>

                                    </div>
                                </form>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <h4> Answers </h4>
                                    <ul id="ulRepliesConsultationspublic" class="list-group"></ul>
                                </div>
                                <form id="form">
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!---Private Message-->

        <div class="modal fade" id="modalPrivateMessage" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title"> Private consultation </h4>

                    </div>
                    <div class="modal-body">
                        <input type="text" id="courseIdPrivateMessage" hidden>
                        <input type="text" id="professorIdPrivateMessage" hidden>
                        <input type="text" id="studentIdPrivateMessage" hidden>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="addPrivateMessage" placeholder="Message" autocomplete="off">
                                    </br>
                                    <button type="button" class="btn" id="btnSendPrivateMessage" onclick="sendPrivateMessage();">Send</button>
                                    <div class="form-group">
                                        </br>
                                        <ul id="ulPrivateMessage" class="list-group"></ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h4>Conversation</h4>
                                <ul id="ulRepliesPrivateMessage" class="list-group"></ul>
                                <form id="formPrivateMessage">
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!---Appointment-->

        <div class="modal fade" id="modalAppointment" tabindex="-1" role="dialog" hidden>

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title"> Request an appointment for atention </h4>

                    </div>
                    <div class="modal-body">
                        <input type="text" id="courseIdAppointment" hidden>
                        <input type="text" id="professorIdAppointment" hidden>
                        <input type="text" id="studentIdAppointment" hidden>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="addAppointment" placeholder="Reason for appointment" autocomplete="off">
                                </div>

                                <div class="form-group">
                                    <input type="date" class="form-control" id="dateAppointment">
                                </div>

                                <div class="form-group">
                                    <button type="button" class="btn" onclick="sendAppointment();" id="btnSendAppointment">Send</button>
                                </div>

                                <div class="form-group">
                                    <ul id="ulAppointment" class="list-group"></ul>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <form>
                                    <div class="form-group">
                                        <h4>Appoinment detail</h4>
                                        <ul id="ulStatusAppointment" class="list-group"></ul>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="btnClose" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- SCRIPTS -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/Student.js"></script>
    <script src="~/Scripts/Professor.js"></script>
    <script src="~/Scripts/Course.js"></script>
    <script src="~/Scripts/user.js"></script>
    <script src="~/Scripts/news.js"></script>
    <script src="~/Scripts/datatables.js"></script>
</body>